.form {
  background-color: #F4F0E4;
  color: #444B6E;
  width: 100%;
  border-radius: 10px;
  text-align: justify;
  padding: 2em;
  margin-left: 2em
}

.button:hover {
  background-color: #C2B2EC;
}

#review-form {
  float: center;
}

#park-review-form {
  margin: 8em auto;
}

.auto-button {
  font-size: 14px
}
