.primary-details {
  text-align: center;
  color: #F4F0E4;
  padding-bottom: 80px;
}

.show-title{
  padding-top: 20px;
  font-family: 'Staatliches', sans-serif;
  font-size: 11em;
}

.show-description{
  padding: 20px 0px;
  font-family: 'Delius', cursive;
  font-size: 2em;
  text-align: center
}

.show-image {
  max-width:720px;
  max-height:360px;
  width: 33em;
  height: 35em;
  border: 3px solid #F4F0E4;
  margin: auto;
  margin-top: 30px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#review-list {
  width: 50%;
  background-color: #F4F0E4;
  color: #444B6E;
  margin: 20px auto;
  text-align: justify;
  padding: 2em;
  border-radius: 10px;
  align-content: center;
}

.reviews-header{
  text-align: center;
  padding-bottom: 20px
}

#review-form-title {
  text-align: center;
  padding-bottom: 20px;
}

#review-form-reminder {
  padding-bottom: 20px
}

#reviewless-message {
  text-align:center;
  font-weight:bold;
  margin-top:-2em;
}

label {
  color: #444B6E;
  font-size: 16px
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, 1), rgba(0, 0, 0, .1));
}

.divider {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #32312E, #32312E, #32312E);
}

#review-list {
  margin-top: 2em;
}

.submit-it, .auto-button input {
  background-color: #3D315B;
  color: #F4F0E4;
  margin-bottom: 30px;
  padding: .75em;
  width: 6em;
}

.single-review {
  padding-left: 4em
}

.delete-button {
  margin-top: 3em;
  background-color: #444B6E;
  color: #F4F0E4;
  float: right;
  border: 1px solid #F4F0E4;
}

.delete-review-button {
  background-color: #F4F0E4;
  color: #444B6E;
  float: right;
  border: 1px solid #444B6E;
}

input.delete-review-button:hover, input.delete-review-button:active {
  background-color: #3D315B;
}

#edit-it {
  margin-right: 20px;
}

.image-box {
  background-color: #F4F0E4;
  width: 100%;
  border-radius: 10px;
  text-align: justify;
  padding: 2em;
}
